body {
    background-color: #74BEFF;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    height: 130px;
    z-index: 2;
    background-color: #E8870C;
    box-shadow: 0px 10px 40px -15px #000;
    width: 100%;
    margin: 0;
    color: #fff
}
#header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30px;
    background-color: #E8870C;
    box-shadow: 0px 0 40px 1px #000;
    width: 100%;
    margin: auto;
    z-index: 2
}
#footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#footer p {
    margin: 5px auto 0;
}
#notesModal img {
    width: 100%;
    height: auto
}
.actionBtns {
    width: 30px;
}
.lyricThumb {
    width: 100%;
    margin: 0 0 30px 0;
}
img.avatar {
    border-radius: 50%;
    box-shadow:  0px 10px 40px -15px #000;
}
#lyricsHeader h2 {
    font-size: 1.5em;
}
#lyricsWrapper {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 1;
    background-color: #ccc;
    padding: 10px 10% 50px 10%;
    width: 95%;
    margin: 0 auto;
    top: -110px;
    box-shadow: 0px 10px 40px -15px #000;
    border-radius: 5px;
}
#lyricsModalBody img {
    width: 100%;
    height: auto;
     box-shadow: 0px 10px 40px -15px #000;
}
#lyricsCloser, #lyricsCloserBottom {
    margin: 20px 0;
}
.getLyricsSpan {
    cursor: pointer
}
.referentText {
    background-color: #000;
    color: #444;
    padding: 5px;
    border-radius: 5px;
}
.referentText a {
    color: #fff;
}
.referentText button {
    background-color: #fff;
    opacity: 1;
    cursor: pointer
}
#header, #footer, #authBtns, #menuBtns {
    text-align: center;
}
#authBtns {
    padding: 145px 0 0 0;
}
#favoritesList, #resultsList {
    color: #fff
}
#favoritesList a, #resultsList a {
    color: #444
}
#favoritesList .removeButton {
color: #ccc;
}
#resultsList {
    padding: 0 20px;
}
#menuBtns button {
    width: 90%;
    min-height: 100px;
    margin: 40px 0 0 0;
    font-size: 4em;
    background-color: #FF0000; 
    color: #fff;
}
#signinModalBtn,#signupModalBtn {
    margin: 10px 5px
}
#loginBtn, #signupBtn {
    margin: 10px 0;
}
.favorite {
    color: red;
}

#searchInput {
    width: 100%;
    margin: 30px auto;
}
.searchWrapper {
    width: 80%;
    margin: 0 auto;
}
#lyricsSearch {
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    font-size: 1.2em;
}

#lyricsText, #lyricsText a {
    cursor: pointer;
    text-decoration: none;
    color: #444;
}
#lyricsText a {
    color: #E8870C
}
#lyricsSearchButton {
    margin: 10px 0;
}
.lyricsButton, .favoriteButton, .removeButton {
    cursor: pointer;
    margin: 0 5px 0 10px;
}
.modal-content {
    padding: 0 10px;
    background-color: #E8870C;
    color: #fff;
}
#notesModal {
    padding: 20px;
    color: #fff;
}
.authorWrapper a {
    color: #FF0000;
    cursor: pointer;
}